/* Styling for the footer */
@use './typography';

footer {
  background-color:black;
  padding:96px 0 ;
  color: white;

  /* Styles for the content container within the footer */
  .container {

    /* Styles for the main content of the footer */
    .footer__content {
justify-content: space-between;
      /* Styles for the lists in the footer */
      .footer__lists {
        width: 33%;
        justify-content: space-around;

        /* Styles for the pages and services sections */
        .footer__pages,
        .footer__services {
          ul {
          padding-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            /* Styles for list items within the footer */
            li {
              a {
                color:white;
                font-size: 14px;
                font-family: Roboto;
                font-weight: 400;
              }
            }
          }
        }

        .contact__div{
          flex-direction: column;
          justify-content: space-between;
          .logo__text{
            gap: 10px;
                      }

                      .icons{
                        margin-top: 15px;
                      }
        }
        .footer__services1{
          margin: 0px 60px;
        }
      }

      /* Styles for the icon section in the footer */
    
      /* Styles for the contact section in the footer */
      .footer__contact {
        width: 33%;
        flex-direction: column;
        gap: 25px;
        p{
          letter-spacing: 2px;
text-transform: uppercase;position: relative;
&::after{
  content: "";
  height: 3px;
  width: 40px;
  left: 150px;
  top: 10px;
  color: black;
  background: #cdb8b8;
  position: absolute;
}

        }
      
      }

      form{
        input{
          margin: 0 !important;
          padding: 1rem 0.5rem;
          background: black;
          border: 1px solid white;

        }
       button{
        display: inline-flex;
        padding: 16px 32px;
        border-radius: 3px;
        font-family: Roboto;
        font-size: 16px;
        background:white;
        backdrop-filter: blur(40px);
        color:black;
        border: none;
       }
      }
    }
  }
}