/* CSS for positioning the contact button and form */
@use './typography';
.contact-button {
    position: fixed;
    bottom: 70px;
    right: -10px;
    display: none;
    z-index: 9999;
    border: none;
    // transform: rotate(90deg);
    #contactBtn{
      transform: rotate(270deg);
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    font-family: Roboto;
    border-radius: 4px;
    background: var(--foundation-primary-red-500, #B4252D);
    backdrop-filter: blur(40px);
    color: white;
    
    }
  }
  
  .contact-form {
    // transform: origin(90degre);
    display: none;
    width: 640px;
    height: 684px;
    position: absolute;
    bottom: 50px;
    right: 30px;
    background: #fff;
    padding: 48px;

    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
.close-btn{
  float: right;
}
    form{
      flex-direction: column;
      gap: 32px;
    }
    .name{
      gap: 24px;
      div{
        width: 50%;
      }
    }

  }
  
  /* Additional styling for the form elements */
  input[type="text"],
  input[type="email"]{
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black; 
  }
  textarea{
    width: 100%;
  }
  
  input[type="submit"]{
    width: max-content;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: Roboto;
    background: var(--foundation-primary-red-500, #B4252D);
    backdrop-filter: blur(40px);
    color: white;
  }