@use './variables' as *;

/* main starts from here */ 
    .services{
        margin: 27px 0px 59px 0px ;
        .services__cards{
            gap: 90px;
            &--card{
                width: 25%;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 12px;
            }
        }

    }
    .about__us--section{
        gap: 86px;
        &--left{
            position: relative;
            width: 37.5%;

            .state {
                position: absolute;
                transition: transform 2s;
                p {
                    display: none;
                }

            .style-1 {
                background-color: #1A7C5F;
                width: 13.436px;
                height: 13.436px;
            }
            .style-2 {
                width: 9.791px;
                height: 9.791px;
                background-color: #F05E28;
            }
            .style-3 {
                width: 10.564px;
                height: 10.564px;
                background-color: #1A7C5F;
            }
            .style-4 {
                width: 16px;
                height: 16px;
                background-color: #B4252D;
            }
            .style-5 {
                width: 9.564px;
                height: 9.564px;
                background-color: #B4252D;
            }
            .style-6 {
                width: 11.773px;
                height: 11.773px;
                background-color: #DC9C1A;
            }
            .style-7 {
                width: 6px;
                height: 6px;
                background-color: #1A7C5F;
            }
            .style-8 {
                width: 8.564px;
                height: 8.564px;
                background-color: #B4252D;
            }
            .style-9 {
                width: 13.436px;
                height: 13.436px;
                background-color: #DC9C1A;
            }
            .style-10 {
                width: 11.773px;
                height: 11.773px;
                background-color: #1A7C5F;
            }
            .style-11 {
                width: 17.832px;
                height: 17.832px;
                background-color: #F05E28;
            }

            div {
                border-radius: 50%;
                border: 2px solid white;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            &:hover {
                .style {
                    transform: scale(1.5);
                    p {
                        position: relative;
                        bottom: -8px;
                        right: 20px;
                        cursor: pointer;
                        width: max-content;
                        background-color:purple;
                        border-radius: 4px;
                        color: white;
                        padding: 4px 6px;
                        scale: .7;
                        display: block;
                    }
                }
            }
        }
        .state-1 {
            top: 17%;
            left: 8%;
        }
        .state-2 {
            top: 20%;
            left: 35%;
        }
        .state-3 {
            right: 40%;
            top: 9%;
        }
        .state-4 {
            top: 35%;
            left: 14%;
        }
        .state-5 {
            top: 35%;
            right: 20%;
        }
        .state-6 {
            top: 40%;
            right: 44%;
        }
        .state-7 {
            top: 48.3%;
            left: 39%;
        }
        .state-8 {
            bottom: 40%;
            right: 35%;
        }
        .state-9 {
            bottom: 27%;
            right: 30%;
        }
        .state-10 {
            bottom: 24%;
            left: 48%;
        }
        .state-11 {
            bottom: 9%;
            right: 41%;
        }
    

        }
     &--right{
        .dot__line{
            height: 15px;
            align-items: center;
            hr{
                width: 72px;
            }
        }
        gap: 18px; 
        &--content{
            flex-direction: column;
            gap: 32px;
           
    &--cards {
        width: 56%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        &--card {
            position: relative;
            width: 46%;
            h3{
                font-size: 24px;
            }
            &:nth-child(1)::before {
                background-color: $color_cgreen;
            }
            &:nth-child(2)::before {
                background-color: $color_cpink;
            }
            &:nth-child(3)::before {
                background-color: $color_cyellow;
            }
            &:nth-child(4)::before {
                background-color: $color_corange;
            }

            &::before {
                z-index: -1;
                content: "";
                border-radius: 10px;
                width: 20px;
                top: -5px;
                height: 20px;
                position: absolute;
            }
            
        }
    }


    .btn{
        display: inline-flex;
        padding: 16px 32px;
        border-radius: 4px;
        background: var(--foundation-primary-red-500, #B4252D);
        backdrop-filter: blur(40px);
        color: white;
    }

        }
    }
}
  .our-Supporters{
    margin: 64px 0px 146px 0px;
&--div-top{
    position: relative;
    &::after{
        content: "";
        height: 1px;
        width: 90%;
        right: 0;
        top: 10px;
        color: black;
        background: #cdb8b8;
        position: absolute;
    }
}
    &--div-bottom{
        margin: 2rem 0rem;
        justify-content: space-between;
    }
  }

    .events{
        .container{
            flex-direction: column;
            gap: 60px;
        }
        margin: 58px 0px 88px 0px;
        &__heading{
            position: relative;
            h2{
                font-size: 40px;

            }
            &::after{
                content: "";
                height: 1px;
                width: 82%;
                right: 0;
                top: 22px;
                color: black;
                background: #cdb8b8;
                position: absolute;
            }
        }
        &__cards{
            gap: 24px;
            &--card{
                padding: 40px 119px;
            position: relative;
                align-items: center;
                justify-content: space-between;
                border-radius: 20px;
background: var(--foundation-text-color-text-color-50, #E8E9EA);
                display: flex;
                width: 50%;
            .date{
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                text-align: center;
                border-radius: 0px 0px 30px 0px;
background: var(--foundation-text-color-text-color-100, #B9BABF);
            }

           
            }
        }

    }

   

.projects{
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

   .projects__top
    {
        gap: 24px;
     width: 50%; 
     hr{
        width: 72px;
        height: 3px;
        margin-top: 5px;
        background-color: black;
     }
     &--content{
        gap: 32px;
        flex-direction: column;
     }
     
}

    .bottom{
        .cards{
            .slick-track{
                display: flex;
                gap: 24px;
            }
            gap: 24px;

            .card{
                height: 350px;
                width: 400px;
                padding: 40px 36px 40px 36px;
                color: white;
                border-radius: 25px;
                h3{
                    color: white;
                }
                p{
                    margin: 16px 0px 64px 0px ;
                }
                .btn{
                    display: inline-flex;
                    padding: 12px 32px;
                    border-radius: 4px;
                   background: var(--Primary-text, #FFF);
                   color: black;
                }
            }
            .card1{
               
                background-image: url('../images/Storiesbg1.webp');
                background-repeat: no-repeat;
            }
            .card2{
              
                background-image: url('../images/Storiesbh3.webp');
                background-repeat: no-repeat;
            }
            .card3{
               
                background-image: url('../images/storiesbg3.webp');
                background-repeat: no-repeat;
            }
        }
    }
}

.we__do{
    padding: 96px 0;
    margin: 107px 0 114px 0;
    background: var(--foundation-secondary-yellow-50, #FCF5E8);
    &__section{
        gap: 80px;
        align-items: center;
        &--left{
            width: 54%;
            gap: 18px;
            .dot__line{
                height: 15px;
                align-items: center;
                hr{
                    width: 72px;
                }
            }
            &--content{
                flex-direction: column;
                gap: 32px;
                &--bottom{
                    flex-direction: column;
                    gap: 24px;
                
                &--div{
                    gap: 24px;
                }
            }
            }
        }

    }
}


.latest__blog--div{
flex-direction: column;
gap: 56px;
    &--heading{
        justify-content:normal;
        gap: 18px;
        .dot__line{
            height: 15px;
            align-items: center;
            hr{
                width: 72px;
            }
        }
        .heading{
            flex-direction: column;
            gap: 32px;
        
        }
    }
    &--content{
        &--cards{
        gap: 24px;
&--card{
    width: 33.3%;
        .card--text{
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            margin: 0 auto;
            top: -30px;
            width: 90%;
            padding:45px 30px;
            border-radius: 10px;
background: var(--foundation-secondary-yellow-50, #FCF5E8);

.date{
    position: absolute;
    right: 0;
    top: -60px;
    padding: 13px 12px;
    text-align: center;
    border-radius: 10px 10px 0px 10px;
    background-color: #F05E28;
    width: fit-content;
    h2{
        font-size:40px ;
    }
}
.para{
    font-size: 20px;
    font-weight: 800;
}

.image__text{
    gap: 24px;
}
.btn{
    display: inline-flex;
        padding: 16px 32px;
        border-radius: 4px;
        background: var(--foundation-primary-red-500, #B4252D);
        backdrop-filter: blur(40px);
        color: white;
}
        }
        }
    }
    }
}




.donate{
    .background__div{
        padding: 93px 238px 92px 238px;
        color: white;
    background-image: url('../images/ctaimage.webp');
    background-repeat: no-repeat;

    .buttons{
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        .btn{
            display: inline-flex;
            padding: 16px 32px;
            border-radius: 4px;
            background: var(--foundation-primary-red-500, #B4252D);
            backdrop-filter: blur(40px);
            color: white;
        }
        .btn1{
            background: white;
            color: black;
        }
    }
    }
}
.testimonial__section{
    margin: 77px 0px 67px 0px;
.testimonial__div{
    background-image: url('../images/worldmap.webp');
    &--content{
align-items: center;
    .center__div{
        padding: 119px 42px;
        &--img{
         border-right: 1px solid gray;
            width: 65%;
        
        
        }
        &--para{
            padding: 0px 50px;
        }
    }
}
}

}
