$white-color: #FFFFFF;
$button-background: #292F36;
$isabelline-color: #F4F0EC;
$brown-color: #CDA274;
$border-color: #E7E7E7;
$body-border-color: #E6E6E6;

$color_white: white;
$color_grey: var(--Secondary-text, #525560);
$color_cred: var(--foundation-primary-red-500, #B4252D);
$color_cgreen: var(--foundation-green-green-200, #96C3B5);
$color_cpink:  var(--foundation-primary-red-200, #DD9B9E);
$color_cyellow : var(--foundation-secondary-yellow-300, #E8BD66);
$color_corange: var(--foundation-orange-orange-300, #F5936F);






