
$white_color:#fff;
$black_color: #000;
$button_primary: var(--Primary-text, #1D2130); 
$button_secondary: var(--foundation-primary-red-500, #B4252D);
$color_green: var(--foundation-green-green-200, #96C3B5);
$color_pink:  var(--foundation-primary-red-200, #DD9B9E);
$color_yellow : var(--foundation-secondary-yellow-300, #E8BD66);
$color_orange: var(--foundation-orange-orange-300, #F5936F);






